<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EF_Pagina" connectionString="metadata=res://*/EntityFramework_PaginaMascota.csdl|res://*/EntityFramework_PaginaMascota.ssdl|res://*/EntityFramework_PaginaMascota.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HDQDSI1\SQLEXPRESS;initial catalog=BDMiMascota;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>